body {
  background-color: #000;
  margin: 20px;
}

.outer {
  width: 328px;
  background-color: #308bc0;
  margin-bottom: 40px;
}

.middle {
  background-color: #ffa500;
}

.inner {
  background-color: #ddd;
}

.box {
  padding: 10px;
  border: 1px solid #e95d49;
}
